h1{color: blueviolet}
.header{background-color: burlywood;
display: flex;
justify-content: space-between;}

.grid{background-color: aquamarine;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer{background-color: aquamarine;
    display: flex;
    justify-content: space-evenly;
}

.grid img{
    border: 2px solid black;
    border-radius: 20px;
}

.footer img{
    border: 2px solid black;
    border-radius: 20px;
}